/* Með CSS stjórnarðu ´tliti síðunnar, eins og litum, leturgerð, og staðsetningu
innihledsins. En sjálft innihald síðunnar er í HTML kóðanum.
Til þess að læra að gera eitthvað, prófaðu að leita á google af því sem þú vilt vita, til dæmis:
"how to change link color." */

body {
  margin: 0px;
  /*font-family: Helvetica, sans-serif;*/
  font-family: Rockwell, regular;
}

.topBar {
  background-color: black;
  color: White;
  font-style: bold;
  padding: 10px;
  padding-left: 50px;
  display: flex;
}

.topBarImage {
  width: 100px;
  height: 10px;
  align-content: space-between;
  background-repeat: no-repeat;
  background-size: contain;
  padding: 20px;
}

.content {
  display: flex;
}

.leftSide {
  color: black;
  background-color: white;
  width: 60%;
  height: 800px;
  padding-left: 10px;
  padding-right: 10px;
  background-image: url(images/bkgrnd2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.kynning {
  color: black;
  font-size: 70px;
  font-style: bold;
  -webkit-text-stroke: 1px White;
}

.rightSide {
  color: black;
  background-color: black;
  width: 40%;
  height: 800px;
  padding-right: 10px;
  padding-left: 10px;
}

h2 {
  color: white;
  text-align: center;
  border: 3px solid white;
}

a {
  color: black;
}

a:hover {
  color: grey;
}

ul {
  background-color: white;
}
